<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body{
            background: rgb(105, 85, 85);
            color: greenyellow;
        }
    </style>
</head>
<body>
    <div>
        {% include 'header/navbar.html' %}
    </div>

    <h1>Documento externo con Django</h1>
    {% comment %}
        SINTAXIS PARA COMENTAR CODIGO SOBRE PLANTILLAS
    {% endcomment %}

    {% if nombre_persona == 'Francisco' %}
        <p>Esto lo desarrollo {{nombre_persona}}</p>
    {% else %}
        <p>ACCESO DENEGADO!!!</p>
    {% endif %}
    <p>Tu nombre es: {{nombre_persona}} {{apellido}}</p>
    <p>la fecha de hoy es: {{actual.day}} / {{actual.month}} / {{actual.year}}</p>
    <div>
        <label><b>Temas:</b></label>
        <ul>
            {% if temas %}
                {% for elTema in temas %}
                    <li>{{elTema|first|lower}}</li><br>
                {% endfor %}
            {% else %}
                <p>No hay elementos en la lista</p>
            {% endif %}
        </ul>
    </div>
    
</body>
</html>